$opacity-for-alpha: 0.6;
$opacity-for-alpha-in-dark: 0.9;

$break-width-pc: 768px;

$width-sp: 375px;
//vw算出用
$px-to-vw-sp: calc(100vw / $width-sp);

$width-pc: 1200px;
//vw算出用
$px-to-vw-pc: calc(100vw / $width-pc);

// letter-spacing計算用
$av-to-em: calc(1em / 1000);
