//prefixは"u-"

@use "../../global" as global;

.u-pc-block {
  display: none;
  @include global.mq-pc() {
    display: block;
  }
}
.u-pc-inline {
  display: none;
  @include global.mq-pc() {
    display: inline;
  }
}
.u-pc-inline-block {
  display: none;
  @include global.mq-pc() {
    display: inline-block;
  }
}
.u-sp-block {
  display: block;
  @include global.mq-pc() {
    display: none;
  }
}
.u-sp-inline {
  display: inline;
  @include global.mq-pc() {
    display: none;
  }
}
.u-sp-inline-block {
  display: inline-block;
  @include global.mq-pc() {
    display: none;
  }
}
