extends /_base
block append vars
  - title="個別タイトル"
  - keywords="個別キーワード"
  - description="個別説明"
  - ogpImage="https://dummyimage.com/1200x600/00ff00/0011ff.jpg"
block append styles
  link(rel="stylesheet" href=relRoot+"assets/css/index.css")
block append scripts
  script(src=relRoot+"assets/js/index.js")
block main
  .images
    img(src="http://dummyimage.com/192x108/ff0000/0011ff.png&text=image01" alt="")
    img(src="http://dummyimage.com/192x108/ff0000/0011ff.png&text=image02" alt="")
    img(src="http://dummyimage.com/192x108/ff0000/0011ff.png&text=image03" alt="")
  .hanko はんこ
  .hanko はんこ
  .hanko はんこ
  canvas#View
block overlay
  #IntroMask
    .intro intro
  #LoadingMask
    .loading loading...
