@use "../../global" as *;

.c-header-logo {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.5);
  @include mq-pc() {
  }
  a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    @include mq-pc() {
    }
  }
}
