@use "../../../global" as global;

.p-dummy-images {
  @include global.mq-pc() {
    display: flex;
  }
  &__image {
    display: block;
    width: 192px * global.$px-to-vw-sp;
    height: auto;
    @include global.mq-pc() {
      width: 192px;
    }
    &--image01 {
      @include global.mq-pc() {
      }
    }
    &--image02 {
      @include global.mq-pc() {
      }
    }
    &--image03 {
      @include global.mq-pc() {
      }
    }
  }
}
