@use "../../../global" as *;

//BEMの場合はこんな感じ
.p-dummy-section {
  background: #faa;
  @include mq-pc() {
    background: #afa;
  }

  &__title {
    //vwベースでレイアウトする場合、PSD上のpxから計算する。
    font-size: 40px * $px-to-vw-sp;
    line-height: 200%;
    @include mq-pc() {
      font-size: 40px;
    }
  }
  &__text {
    font-size: 20px * $px-to-vw-sp;
    line-height: 200%;
    @include mq-pc() {
      font-size: 20px;
    }
  }
}
