@use "../../../global" as *;

.p-dummy-images {
  @include mq-pc() {
    display: flex;
  }
  &__image {
    display: block;
    width: 192px * $px-to-vw-sp;
    height: auto;
    @include mq-pc() {
      width: 192px;
    }
    &--image01 {
      @include mq-pc() {
      }
    }
    &--image02 {
      @include mq-pc() {
      }
    }
    &--image03 {
      @include mq-pc() {
      }
    }
  }
}
