@use "../../../global" as *;

.p-dummy-images {
  @include mqpc() {
    display: flex;
  }
  &__image {
    display: block;
    width: 192px * $PX_TO_VW_SP;
    height: auto;
    @include mqpc() {
      width: 192px;
    }
    &--image01 {
      @include mqpc() {
      }
    }
    &--image02 {
      @include mqpc() {
      }
    }
    &--image03 {
      @include mqpc() {
      }
    }
  }
}
