extends _base
block append vars
  - pageTitle="タイトル"
block append styles
  link(rel="stylesheet" href="/assets/css/index.css")
block append scripts
  script(src="/assets/js/index.js")
block main
  canvas#View